@font-face {
    font-family: "ext1605";
    src: url("./assets/ext1605.woff");
}
* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "ext1605";
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    text-shadow: 3px 3px black;
    cursor: default;
}
a {
    color: orange;
    cursor: pointer;
}
body {
    background-image: url("./assets/bg.png");
}
.top {
    height: 48px;
    background-color: #555;
    background-image: url("./assets/top-bg.png");
    border-bottom: 3px solid #000;
}
.wrap {
    text-align: center;
    max-width: 1000px;
    margin: auto;
}
.top .logo {
    float: left;
    border: 0px;
}
.top .logo * {
    cursor: pointer;
}
.top .subtitle {
    float: left;
    border: 0px;
    margin-top: 24px;
}
.top .account {
    float: right;
    border: 0;
    margin-top: 24px;
}
.top .account a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
#identity {
    display: none;
}
#anonymous {
    display: none;
}
#menu {
    text-align: center;
    max-width: 1000px;
    margin: auto;
    padding-top: 1px;
    padding-bottom: 3px;
    background-image: url("./assets/nav-bg.png");
    box-shadow: -4px -4px 8px black inset, 4px -4px 8px black inset;
}
#menu a {
    display: inline;
    text-decoration: none;
}
#menu p {
    display: inline;
}
main {
    text-align: center;
    max-width: 1000px;
    margin: auto;
}
footer * {
    color: #a0a0a040;
}
.revision {
    position: fixed;
    bottom: 0;
}
.copyright {
    position: fixed;
    bottom: 0;
    right: 0;
}
.copyright * {
    font-family: ＭＳ Ｐゴシック;
    font-size: small;
}

.container {
    width: 50%;
    margin: auto;
    background-color: #000000B0;
    padding: 25px;
}
.login input {
    color: black;
    text-shadow: none;
    cursor: text;
}
.login button {
    background-color: #006a;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    padding: 4px;
    outline: 2px solid black;
    box-shadow: 2px 2px inset black, -2px -2px inset black;
}
.login button:hover {
    color: #ff6;
    background-color: #004040bf;
    border-top: 2px solid lightblue;
    border-left: 2px solid lightblue;
    border-bottom: 2px solid lightblue;
    border-right: 2px solid lightblue;
    cursor: pointer;
}
.banner {
    background-image: url("./assets/top-bg.png");
    background-size: auto 100%;
    padding: 8px;
}