.bold-title {
    text-align: center;
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    color: white;
    text-shadow: 2px 2px 0 black;
}
.file-table {
    background-color: rgba(0,0,0,0.5);
    border: 2px solid black;
    width: 97%;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}
.file-header {
    background-image: url("../!db/site-window.png");
    background-size: 100% 100%;
    border-bottom: 2px solid black;
    text-align: center;
    font-weight: 900;
    font-size: 12px;
    color: white;
    text-shadow: 2px 2px 0 black;
}
.file-header:not(:first-child) {
    border-top: 2px solid black;
}
.file-reference {
    font-size: 0;
}
.file-reference p {
    display: inline-block;
    font-weight: 900;
    font-size: 12px;
    color: gray;
    text-shadow: 2px 2px 0 black;
}