article {
    padding-bottom: 4px;
    min-height: 400px;
}
.content {
    width: 526px;
    margin-left: 194px;
}
.site-buttons {
    position: absolute;
    width: 194px;
    background-image: url("../!db/site-sidebar-rail.png");
    background-repeat: repeat-y;
}
.site-buttons-top {
    height: 26px;
    background-image: url("../!db/site-sidebar-top.png");
}
.site-buttons-top p {
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 0 black;
    display: inline;
    margin-left: 24px;
}
.site-buttons-tab {
    height: 28px;
    width: 181px;
    background-image: url("../!db/site-sidebar-tab.png");
}
.site-buttons-tab p {
    color: white;
    font-size: 16px;
    text-shadow: 2px 2px 0 black;
    display: inline;
    margin-left: 16px;
    vertical-align: sub;
}
.site-button {
    display: block;
    height: 24px;
    width: 144px;
    background-image: url("../!db/side-button-template.png");
    margin-left: 10px;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 0 black;
    font-weight: 900;
    cursor: pointer;
}
.site-b1 {
    background-image: url("../!db/side-button-home.png");
}
.site-b2 {
    background-image: url("../!db/side-button-news.png");
}
.site-b3 {
    background-image: url("../!db/side-button-gallery.png");
}
.site-b4 {
    background-image: url("../!db/side-button-games.png");
}
.site-b5 {
    background-image: url("../!db/side-button-forum.png");
}
.site-b6 {
    background-image: url("../!db/side-button-wiki.png");
}
.site-b7 {
    background-image: url("../!db/side-button-downloads.png");
}
.site-b8 {
    background-image: url("../!db/side-button-visuals.png");
}
.site-b9 {
    background-image: url("../!db/side-button-skins.png");
}
.site-b10 {
    background-image: url("../!db/side-button-worlds.png");
}
.site-b11 {
    background-image: url("../!db/side-button-demos.png");
}
.site-b12 {
    background-image: url("../!db/side-button-extensions.png");
}
.site-buttons-bottom {
    height: 28px;
    width: 176px;
    background-image: url("../!db/site-sidebar-bottom.png");
}
.site-splash {
    background-color: rgba(0,0,0,.5);
    margin: 2px;
    padding: 1.75px;
    font-size: 16px;
    color: yellow;
    text-shadow: 2px 2px #3f3f00;
}
.welcome {
    width: 100%;
}
.welcome th:first-child {
    font-size: 12px;
    padding: 4px;
    color: white;
    text-shadow: 2px 2px 0 black;
}
.site-killcount {
    color: yellow;
    text-shadow: 2px 2px #3f3f00;
}
.site-news-latest {
    border: 2px solid black;
    margin: 4px;
}
.site-news-latest > div {
    background-image: url("../!db/site-window.png");
    background-size: 100% 100%;
    border-bottom: 2px solid black;
    color: white;
    text-shadow: 2px 2px 0 gray;
    text-align: center;
    font-weight: 900;
}
.news {
    background-color: rgba(0,0,0,.5);
}
.news th:last-child {
    width: 100%;
    font-size: 12px;
    padding: 4px;
    color: white;
    text-shadow: 2px 2px 0 black;
    vertical-align: top;
    text-align: left;
}
.read-more {
    color: #ff6;
    cursor: pointer;
}
.site-sellout {
    color: white;
    text-shadow: 2px 2px 0 black;
    text-align: center;
}
.site-sellout > a {
    display: block;
    cursor: pointer;
    width: 480px;
    height: 120px;
    border: 1px solid black;
    margin: auto;
}
@media screen and (max-width:744px) {
    .site-buttons {
        display: none;
    }
    .content {
        margin: 0;
        width: 100%;
    }
}